language: php

php:
    - 7.3

services:
    - mysql

addons:
    chrome: stable
    apt:
        sources:
            - mysql-5.7-trusty
        packages:
            - mysql-server
            - mysql-client

dist: trusty

sudo: required

install:
    - mv .env.testing .env
    - mysql -e 'create database todoapp;'
    - composer self-update
    - composer install --no-interaction --prefer-dist --no-suggest
    - npm install
    - npm run production
    - php artisan key:generate

before_script:
    - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
    - php artisan serve &

script:
    - vendor/bin/phpunit
    - php artisan dusk
